<h2>メンバー登録</h2>

<%= render 'shared/error', resource: @member %>

<%= form_with model: @member, url: admin_members_path, local: true do |f| %>
  <div class="table-form member-table">
    <table>
      <tbody>
        <tr>
          <td><%= f.label :name, '名前' %></td>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
        <tr>
          <td><%= f.label :en_name, '名前(英)' %></td>
          <td><%= f.text_field :en_name %></td>
        </tr>
        <tr>
          <td><%= f.label :position, 'ポジション' %></td>
          <td><%= f.text_field :position %></td>
        </tr>
        <tr>
          <td><%= f.label :uniform_number, '背番号' %></td>
          <td><%= f.number_field :uniform_number, min:1, max:99, step: 1 %></td>
        </tr>
        <tr>
          <td><%= f.label :introduction, '選手説明' %></td>
          <td><%= f.text_field :introduction %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="entry-submit"><%= f.submit "選手登録" %></div>
<% end %>

<h2>編集</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>名前(英)</th>
      <th>ポジション</th>
      <th>背番号</th>
      <th>選手説明</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.en_name %></td>
        <td><%= member.position %></td>
        <td><%= member.uniform_number %></td>
        <td><%= member.introduction %></td>
        <td><%= link_to '編集する', edit_admin_member_path(member.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "一覧画面へ", members_path %>