<div class="row">
  <%= render 'shared/side' %>

  <div class="col-9">
    <div class="bar"><p>新規登録</p></div>

    <div class="table-form">
      <%= form_for(resource, as: resource_name, url: sign_up_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <table>
          <tbody>
            <tr>
              <td><%= f.label :last_name, "お名前" %><span class="required">必須</span></td>
              <td><%= f.text_field :last_name, placeholder: "例） 山田" %> <%= f.text_field :first_name, placeholder: "例）太郎" %></td>
            </tr>
            <tr>
              <td><%= f.label :kana_last_name, "お名前（カナ）" %><span class="required">必須</span></td>
              <td><%= f.text_field :kana_last_name, placeholder: "例）ヤマダ" %> <%= f.text_field :kana_first_name, placeholder: "例）タロウ" %></td>
            </tr>
            <tr>
              <td><%= f.label :postal_code %><span class="required">必須</span></td>
              <td><%= f.text_field :postal_code, placeholder: "例）1000000" %></td>
            </tr>
            <tr>
              <td><%= f.label :address %><span class="required">必須</span></td>
              <td><%= f.text_field :address, placeholder: "例）埼玉県羽生市手小林1-1", class: "address-form" %></td>
            </tr>
            <tr>
              <td><%= f.label :email %><span class="required">必須</span></td>
              <td><%= f.text_field :email, placeholder: "例）yamada@example.com", class: "email-form" %></td>
            </tr>
            <tr>
              <td><%= f.label :phone_number %><span class="required">必須</span></td>
              <td><%= f.text_field :phone_number, placeholder: "例）03000000000" %></td>
            </tr>
            <tr>
              <td><%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><span class="required">必須</span></td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation %><span class="required">必須</span></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
          </tbody>
        </table>

        <div class="entry-submit">
          <%= f.submit %>
        </div>

      <% end %>
    </div>

    <%= render "devise/shared/links" %>
  </div>

</div>
