<div class="row">
  <h3>親商品一覧</h3>
  <div class="col-sm-12">
    <% @types.each do |type| %>
      <%= type.type_name %>
      <%= link_to type.image_url, 'data-lightbox' => type.image_id do %>
        <%= attachment_image_tag type, :image, :fill, 290.45, 250 %>
      <% end %>
      <div>
        <%= type.introduction %>
      </div>
    <% end %>
  </div>
</div><br>

<div class="row">
  <h3>親商品新規登録</h3>
  <div class="col-sm-12">
    <%= form_with model: @type, url: admin_types_path, method: :post, local: true do |f| %>
      <div class="form">
        <%= f.label :type_name, '商品名' %>
        <%= f.text_field :type_name %>
      </div>

      <div class="form">
        <%= f.label :introduction, '商品名' %>
        <%= f.text_area :introduction %>
      </div>

      <div class="form">
        <%= f.label :image, '写真' %>
        <%= f.attachment_field :image %>
      </div>

      <div class="submit">
        <%= f.submit '登録' %>
      </div>
    <% end %>
  </div>
</div>
