<div class="col-3 side-bar">
  <div class="box">
    <p>大雨によるお荷物のお届けについて>></p>
  </div>
  <div class="side-pickup">
    <ul>
      <%= link_to root_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  CleanAceについて</li><% end %>
      <%= link_to "http://www.ja-fit.com/file/factory.html", class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  ユニフォーム工程紹介</li><% end %>
      <%= link_to members_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  チームメンバー</li><% end %>
      <%= link_to results_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  チーム戦績</li><% end %>
      <%= link_to new_entry_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  メンバー募集</li><% end %>
      <%= link_to overview_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  会社概要</li><% end %>
      <%= link_to products_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  商品一覧</li><% end %>
    </ul>
  </div>

  <!-- 商品一覧 -->
  <div class="side-bar-bar"><p>メニュー</p></div>
  <div class="side-product">
    <ul>
      <% if signed_in? %>
        <%= link_to users_path, class: "side-link" do %><li><i class="fas fa-caret-right"></i> マイページ</li><% end %>
        <%= link_to orders_path, class: "side-link" do %><li><i class="fas fa-caret-right"></i> 注文履歴</li><% end %>
      <% end %>
      <%= link_to overview_path, class: "side-link" do %><li><i class="fas fa-caret-right"></i> お問い合わせ</li><% end %>
      <li><i class="fas fa-caret-right"></i> 小坂店長ブログ</li>
      <%= link_to product_path(Product.last), class: "side-link" do %><li><i class="fas fa-caret-right"></i> 新商品</li><% end %>
    </ul>
  </div>

  <!-- ご案内 -->
  <div class="side-bar-bar"><p>ご案内</p></div>
  <div class="side-bar-list">
    <ul>
      <li>スタッフ紹介</li>
      <li>町おこし</li>
      <%= link_to "https://www.city.hanyu.lg.jp/" do %><li>鬼が住む町、羽生</li><% end %>
    </ul>
  </div>
</div>