<div class="row">
  <%= render 'admin/shared/side' %>

  <div class="col-4 offset-1">
    <h4>注文情報</h4>
    <ul>
      <%= link_to admin_orders_path(page: 'order') do %>
        <li>本日の注文　<%= @orders.where(cancel: false, order_checked: false).count %>件</li>
      <% end %>
      <%= link_to admin_orders_path(page: 'order_checked') do %>
        <li>確認済み（未発送） <%= @orders.where(order_checked: true, shipping: false, cancel: false).count %>件</li>
      <% end %>
      <%= link_to admin_orders_path(page: 'shipping') do %>
        <li>発送済み（本日） <%= @orders.finish_orders.count %>件</li>
      <% end %>
    </ul>
    <br>
    <h4>キャンセル情報</h4>
    <ul>
      <%= link_to admin_orders_path(page: 'cancel') do %>
        <li>本日のキャンセル　<%= @cancels.count %>件</li>
      <% end %>
      <%= link_to admin_orders_path(page: 'cancel_checked') do %>
        <li>キャンセル確認済み（本日） <%= @finish_cancels.count %>件</li>
      <% end %>
    </ul>
  </div>
  <div class="col-4">
    <h4>メンバー募集情報</h4>
    <ul>
      <%= link_to admin_entries_path(page: 'today') do %>
        <li>本日の応募　<%= @entries.count %>件</li>
      <% end %>
    </ul>
  </div>
</div>
