<div class="row">
  <div class="col-3 side-bar">
    <div class="side-bar-bar"><p>モード選択</p></div><br>
    <div class="side-pickup">
      <ul>
        <%= link_to admin_products_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  商品登録&一覧</li><% end %>
        <%= link_to admin_users_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  顧客情報</li><% end %>
        <%= link_to new_admin_member_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  チーム登録&一覧</li><% end %>
        <%= link_to new_admin_result_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  試合結果登録</li><% end %>
        <%= link_to admin_orders_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  注文一覧</li><% end %>
        <%= link_to admin_entries_path, class: "admin-link" do %><li><i class="fas fa-baseball-ball"></i>  メンバー応募一覧</li><% end %>
      </ul>
    </div>

    <!-- ご案内 -->
    <div class="side-bar-bar"><p>ご案内</p></div>
    <div class="side-bar-list">
      <ul>
        <li>スタッフ紹介</li>
        <li>町おこし</li>
        <li>鬼が住む町、羽生</li>
        <li>スタッフ紹介</li>
      </ul>
    </div>
  </div>
  <div class="col-4 offset-1">
    <h4>注文情報</h4>
    <ul>
      <%= link_to admin_orders_path(page: 'today') do %>
        <li>本日の注文　<%= @orders.count %>件</li>
      <% end %>
    </ul>
  </div>
  <div class="col-4">
    <h4>メンバー募集情報</h4>
    <ul>
      <%= link_to admin_entries_path(page: 'today') do %>
        <li>本日の応募　<%= @entries.count %>件</li>
      <% end %>
    </ul>
  </div>
</div>
<%= @time %>