<div class="row">

  <div class="col-12 cart-index">
    <p class="shoping-cart">ショッピングカート</p>
    <%= link_to :back do %>
      <button class="shoping-continew">買い物を続ける</button>
    <% end %>
    <br><br>

    <% unless @carts.empty? %>
      <table class="table table-bordered cart-table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>サイズ</th>
            <th>カラー</th>
            <th>数量</th>
            <th>小計</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @total_price = 0 %>
          <% @carts.each do |cart| %>
          <tr>
            <td class="table-light align-middle">
              <%= attachment_image_tag cart.product_detail.product, :image, :fill, 50, 50, format: 'jpeg'%>

              <%= cart.product_detail.product.product_name %>
            </td>
            <td class="table-light align-middle">
              <% tax_price = cart.product_detail.non_taxed_price * 1.1 %>
              <%= tax_price.floor.to_s(:delimited) %>
            </td>
            <td id="cart_size"><%= cart.product_detail.product_size.size %></td>
            <td id="cart_color"><%= cart.product_detail.product_color.color %></td>
            <td class="table-light align-middle">
              <%= form_with model: cart, url: cart_path(cart.product_detail.id), method: :patch, local: true do |f| %>
                <%= f.number_field :quantity, min:1, step: 1, style: "width: 60px;", class: "float-left" %>
                <%= f.submit '変更' %>
              <% end %>
            </td class="table-light align-middle">
            <% subtotal = tax_price * cart.quantity %>
            <td class="table-light align-middle"><%= subtotal.floor.to_s(:delimited) %>円</td>
            <td class="table-light text-center"><%= link_to '削除する', cart_path(cart.product_detail.id), method: :delete, class: "btn", style: "border: solid 1px black;" %></td>
          </tr>
          <% @total_price += subtotal %>
          <% end %>
          <tr class="total-price">
            <td colspan="5">商品合計</td>
            <td colspan="2"><%= @total_price.floor.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
      </table><br>

      <div class="to-confirmation-submit-wrapper">
        <%= link_to "購入手続きへ進む", new_order_path, id: "carts-submit" %>
      </div>
    <% else %>
      <p>現在カートに商品はございません</p>
    <% end %>
    <br>
    <div class="ad">
      <%= image_tag "publicdomainq-0041931kpo.jpg", class: "ad-image" %>
    </div>

  </div>

</div>