<div class="row">

  <div class="col-9 cart-index">
    <p class="shoping-cart">ショッピングカート</p>
    <%= link_to :back do %>
      <button class="shoping-continew">買い物を続ける</button>
    <% end %>
    <br><br>

    <% unless @carts.empty? %>
      <table class="table table-bordered cart-table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>サイズ</th>
            <th>カラー</th>
            <th>数量</th>
            <th>小計</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @carts.each do |cart| %>
          <tr>
            <td class="table-light align-middle">
              <%= attachment_image_tag cart.product.type, :image, :fill, 50, 50, format: 'jpeg'%>

              <%= cart.product.type.type_name %>
            </td>
            <td class="table-light align-middle">
              <% tax_price = cart.product.non_taxed_price * 1.1 %>
              <%= tax_price.floor.to_s(:delimited) %>
            </td>
            <td><%= cart.product.product_size.size %></td>
            <td><%= cart.product.product_color.color %></td>
            <td class="table-light align-middle">
              <%= form_with model: cart, url: cart_path(cart.product.id), method: :patch, local: true do |f| %>
                <%= f.number_field :quantity, min:1, step: 1, style: "width: 60px;", class: "form-control float-left" %>
                <%= f.submit '変更' %>
              <% end %>
            </td class="table-light align-middle">
            <% subtotal = tax_price * cart.quantity %>
            <td class="table-light align-middle"><%= subtotal.floor.to_s(:delimited) %></td>
            <td class="table-light text-center"><%= link_to '削除する', carts_path(cart.product.id), method: :delete, class: "btn btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br>

      <%= link_to "購入手続きへ進む", new_order_path, class: "btn" %><br>
    <% end %>

    <div class="cart-ad">
      
    </div>

  </div>

</div>