<div class="row">
  <div class="col-8">
    <%= render 'shared/error', resource: @product_detail %>
    <div class="table-form">
      <%= form_with model: [@product, @product_detail], url: admin_product_product_detail_path, local: true do |f| %>
        <table>
          <tbody>
            <tr>
              <td><%= f.label :product_id, '商品名' %></td>
              <td><%= @product.product_name %></td>
            </tr>
            <%= f.fields_for :product_size do |i| %>
            <tr>
              <td><%= i.label :size, 'サイズ' %></td>
              <td><%= i.text_field :size %></td>
            </tr>
            <% end %>
            <%= f.fields_for :product_color do |i| %>
            <tr>
              <td><%= i.label :color, 'カラー' %></td>
              <td><%= i.text_field :color %></td>
            </tr>
            <% end %>
            <tr>
              <td><%= f.label :non_taxed_price, '税抜き価格' %></td>
              <td><%= f.text_field :non_taxed_price %></td>
            </tr>
          </tbody>
        </table>
        <div class="entry-submit"><%= f.submit '商品詳細編集' %></div>
      <% end %>
    </div>
  </div>
  <div class="col-4">
    <%= link_to "削除", admin_product_product_detail_path(@product, @product_detail), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "simple-btn" %>
  </div>
</div>