<div class="row">


  <!-- サイドバー -->
  <div class="col-3 side-bar">
    <div class="box">
      <p>大雨によるお荷物のお届けについて>></p>
    </div>
    <div class="side-pickup">
      <ul>
        <li><i class="fas fa-baseball-ball"></i>  CleanAceについて</li>
        <li><i class="fas fa-baseball-ball"></i>  ユニフォーム工程紹介</li>
        <li><i class="fas fa-baseball-ball"></i>  会社概要</li>
        <li><i class="fas fa-baseball-ball"></i>  お問い合わせ</li>
        <li><i class="fas fa-baseball-ball"></i>  小坂店長ブログ</li>
        <li><i class="fas fa-baseball-ball"></i>  小坂店長への相談メール</li>
        <li><i class="fas fa-baseball-ball"></i>  おすすめ商品</li>
      </ul>
    </div>

    <!-- 商品一覧 -->
    <div class="side-bar-bar"><p>商品一覧</p></div>
    <div class="side-product">
      <ul>
        <li><i class="fas fa-caret-right"></i> CleanAceについて</li>
        <li><i class="fas fa-caret-right"></i> ユニフォーム工程紹介</li>
        <li><i class="fas fa-caret-right"></i> 会社概要</li>
        <li><i class="fas fa-caret-right"></i> お問い合わせ</li>
        <li><i class="fas fa-caret-right"></i> 小坂店長ブログ</li>
        <li><i class="fas fa-caret-right"></i> 小坂店長への相談メール</li>
        <li><i class="fas fa-caret-right"></i> おすすめ商品</li>
      </ul>
    </div>

    <!-- ご案内 -->
    <div class="side-bar-bar"><p>ご案内</p></div>
    <div class="side-bar-list">
      <ul>
        <li>スタッフ紹介</li>
        <li>町おこし</li>
        <li>鬼が住む町、羽生</li>
        <li>スタッフ紹介</li>
      </ul>
    </div>
  </div>


  <!-- メイン部分 -->
  <div class="col-9 main-wrapper">
    <!-- トップロゴ -->
    <div class="image">
      <%= image_tag "set01.jpg", style: "width: 100%; height: 100%;" %>
    </div>
    <p class="image-bottom">新潟明訓の夏はまだ終わらない！新商品続々！！</p>

    <!-- バー -->
    <div class="bar"><p>CleanAceおすすめ商品</p></div>

    <!-- コンテンツ -->
    <div class="images clearfix">
      <ul>
        <li class="padding">
          <div class="image"><%= image_tag "finetrack_02_TP_V4.jpg", class: "image-size" %></div>
          <p class="image-title">aaaaaaaaa</p>
        </li>
        <li class="padding">
          <div class="image"><%= image_tag "finetrack_02_TP_V4.jpg", class: "image-size" %></div>
          <p class="image-title"></p>
        </li>
        <li class="padding">
          <div class="image"><%= image_tag "finetrack_02_TP_V4.jpg", class: "image-size" %></div>
          <p class="image-title"></p>
        </li>
        <li>
          <div class="image"><%= image_tag "finetrack_02_TP_V4.jpg", class: "image-size" %></div>
          <p class="image-title"></p>
        </li>
        <li class="padding">
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
        <li class="padding">
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
        <li class="padding">
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
        <li>
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
      </ul>
    </div>

    <div class="bar"><p>BASEBALL TEAM</p></div>

    <div class="images-quattro clearfix">
      <ul>
        <li  class="padding">
          <div class="image"></div>
          <p class="image-title">aaaaaaaa</p>
        </li>
        <li>
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
        <li  class="padding">
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
        <li>
          <div class="image"></div>
          <p class="image-title"></p>
        </li>
      </ul>
    </div>

  </div>




</div> <!-- row -->