<div class="row">
  <!-- サイドバー -->
  <%= render 'shared/side' %>

  <!-- メイン部分 -->
  <div class="col-9 product">
    <h3><%= @product.product_name %></h3>
    <!-- フラッシュメッセージ -->
    <% if flash.now[:alert].present? %>
      <p><%= flash.now[:alert] %></p>
    <% end %>
    <!-- 商品詳細が登録されていなければ表示しない -->
    <% if @product.product_details.present? %>
      <!-- トップ部分 -->
      <div class="product-top clearfix">
        <!-- 画像欄 -->
        <div class="product-images">
          <div class="main-image">
            <%= link_to @product.image_url, 'data-lightbox' => @product.image_id do %>
              <%= attachment_image_tag @product, :image, style: "width: 100%; height: 100%;" %>
            <% end %>
          </div>
          <div class="sub-images">
            <% @images.each do |image| %>
              <%= link_to image.image_url, 'data-lightbox' => image.image_id do %>
                <span class="sub-image"><%= attachment_image_tag image, :image, style: "width: 100%; height: 100%; list-style: none;" %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- カート欄 -->
        <div class="cart">
          <p class="product-name"><%= @product.product_name %></p>
          <div><span>価格:  </span><%= @product.product_details.first.non_taxed_price %><span>円~</span></div>
          <!-- カートに入れる機能 -->
          <%= form_with model: [@product, @cart] , local: true do |f| %>
            <div class="form">
              <%= f.label :size, 'サイズ' %>
              <%= f.select :size, @product.product_sizes.distinct.pluck(:size), include_blank: "選択してください" %>
            </div>
            <div class="form">
              <%= f.label :color, 'カラー' %>
              <%= f.select :color, @product.product_colors.distinct.pluck(:color), include_blank: "選択してください" %>
            </div>
            <div><span>購入数:  </span><%= f.select :quantity, [*(1..10)], {selected: 1} %></div>
            <div class="submit">
              <%= f.submit 'カートに入れる' %>
            </div>
          <% end %>

          <!-- いいね -->
          <div id="favorite">
            <%= render 'favorites/favorite', product: @product %>
          </div>

        </div>
      </div>

      <p>商品説明</p>
      <p style="border-bottom: solid 1px black;"><%= @product.introduction %></p><br>
      <p>一覧</p>

      <table class="table table-border">
        <thead>
          <tr>
            <th width='150' height='20'>カラー</th>
            <th width='150' height='20'>サイズ</th>
            <th width='150' height='20'>税抜き価格</th>
          </tr>
        </thead>
        <tbody>
          <% @product_details.each do |product_detail| %>
          <tr>
            <td><%= product_detail.product_color.color %></td>
            <td><%= product_detail.product_size.size %></td>
            <td><%= product_detail.non_taxed_price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <% else %>
    <br><br>
    <p>申し訳ございません。現在こちらの商品は販売されておりません。</p>
    <%= link_to "戻る", :back %>
  <% end %>


</div>
