<div class="row">
  <!-- サイドバー -->
  <%= render 'shared/side' %>

  <!-- メイン部分 -->
  <div class="col-9 main-wrapper">
    <!-- トップロゴ -->
    <div id="top-images">
        <div class="top-image-wrapper"><img class="top-image" src="assets/set01.jpg"></div>
        <div class="top-image-wrapper"><img class="top-image" src="assets/set02.jpg"></div>
        <div class="top-image-wrapper"><img class="top-image" src="assets/set03.jpg"></div>
    </div>
    <p class="image-bottom">新潟明訓の夏はまだ終わらない！新商品続々！！</p>

    <!-- バー -->
    <div class="bar"><p>CleanAceおすすめ商品</p></div>

    <!-- コンテンツ -->
    <div class="images clearfix">
      <ul>
        <% @types.last(8).each do |type| %>
          <li class="marging">
            <%= link_to product_path(type.id) do %>
              <div class="image"><%= attachment_image_tag type, :image, style: "width: 100%; height: 100%;" %></div>
              <p class="image-title"><%= type.introduction %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="bar"><p>BASEBALL TEAM</p></div>

    <div class="images-quattro clearfix">
      <ul>
        <li  class="padding">
          
            <div class="image"><%= image_tag "2e28a9ac8b65bede6bfea28796e3400f_w.jpg", style: "width: 100%; height: 100%;" %></div>
            <p class="image-title">クリーンエースとは</p>
          
        </li>
        <li>
          <%= link_to members_path do %>
            <div class="image"><%= image_tag "3f74661803417de4f257d6a95485d026_w.jpg", style: "width: 100%; height: 100%;" %></div>
            <p class="image-title">チームメンバー</p>
          <% end %>
        </li>
        <li  class="padding">
          <%= link_to results_path do %>
            <div class="image"><%= image_tag "d1437536651306d6cd5c46c0a20c0499_w.jpg", style: "width: 100%; height: 100%;" %></div>
            <p class="image-title">チーム戦績</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_entry_path do %>
            <div class="image"><%= image_tag "6f1e6899140bfa633be57d17ad530602_w.jpg", style: "width: 100%; height: 100%;" %></div>
            <p class="image-title">メンバー募集</p>
          <% end %>
        </li>
      </ul>
    </div>

  </div>




</div> <!-- row -->