<!DOCTYPE html>
<html>
  <head>
    <title>CleanAce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user&.admin? %>
        <h2>CleanAce(管理者モード)</h2>
      <% else %>
        <h2>CleanAce</h2>
      <% end %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to '商品一覧', products_path %></li>
          <li><%= link_to 'マイページ', users_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'ユーザー一覧', admin_users_path %></li>
          <% else %>
            <li><%= link_to 'マイカート', carts_path %></li>
          <% end %>
          <li><%= link_to 'ログアウト', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to '商品一覧', products_path %></li>
          <li><%= link_to '新規登録', sign_up_path %></li>
          <li><%= link_to 'ログイン', sign_in_path %></li>
        <% end %>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
