<!DOCTYPE html>
<html>
  <head>
    <title>CleanAce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <script src="<%= ENV['KEY'] %>"  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  </head>

  <body>
    <div class="container">
      <header class="clearfix">
        <div class="header-left">
          <p>CleanAce Webサイト | ユニフォーム制作会社 | 羽生市 小坂被服</p>
          <div class="header-logo">
            <%= link_to root_path do %>
              <%= image_tag "cleanace.png" %>
            <% end %>
          </div>
        </div>
        <div class="header-right">
          <% if signed_in? %>
            <ul>
              <%= link_to sign_up_path, class: 'header-link' do %><li class="gray-link"><i class="fas fa-home"></i></i> トップ</li><% end %>
              <%= link_to carts_path, class: 'header-link' do %><li class="gray-link"><i class="fas fa-shopping-cart"></i> カート</li><% end %>
              <%= link_to sign_out_path, method: :delete, class: 'header-link' do %><li class="gray-link"><i class="fas fa-sign-in-alt"></i> ログアウト</li><% end %>
              <%= link_to "http://www.ja-fit.com/", class: "jafit-link" do %><li class="right-link">JAFIT ホームページ <span><i class="fas fa-greater-than"></i></span></li><% end %>
            </ul>
          <% else %>
            <ul>
              <%= link_to sign_up_path, class: 'header-link' do %><li class="gray-link"><i class="fas fa-plus-circle"></i> 新規登録</li><% end %>
              <%= link_to sign_in_path, class: 'header-link' do %><li class="gray-link"><i class="fas fa-sign-in-alt"></i> ログイン</li><% end %>
              <%= link_to carts_path, class: 'header-link' do %><li class="gray-link"><i class="fas fa-shopping-cart"></i> カート</li><% end %>
              <%= link_to "http://www.ja-fit.com/", class: "jafit-link" do %><li class="right-link">JAFIT ホームページ <span><i class="fas fa-greater-than"></i></span></li><% end %>
            </ul>
          <% end %>
          <%= form_with url: search_path, method: :get, scope: :search, local: true do |f| %>
            <div id="search-submit">
              <%= f.text_field :content, placeholder: "キーワードで探す", id: "search-field" %><%= button_tag type: 'submit', id: 'search' do %><i class="fas fa-search"></i><% end %>
            </div>
          <% end %>
        </div>
      </header>
    </div>
    <div class="container-fluid">
      <div id="main-container">
        <%= yield %>
      </div>
    </div>

    <div class="container">
      <footer>

      </footer>
    </div>
  </body>
</html>
