<!DOCTYPE html>
<html>
  <head>
    <title>CleanAce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>CleanAce</h2>
      <ul>
        <li>商品一覧</li>
        <li>マイページ</li>
        <li>ログイン</li>
        <li>新規登録</li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
