<div class="row">

  <%= render 'shared/side' %>

  <div class="col-9">
    <div class="member-bar">
      <p>選手紹介</p>
    </div>
    <% @members.each do |member| %>
      <div class="player-box">
        <span class="number">
          <span><%= member.uniform_number %></span>
        </span>
        <span class="name">
          <span><%= member.name %></span>
        </span>
        <span class="en-name">
          <span><%= member.en_name %></span>
        </span>
        <span class="position">
          <span><%= member.position %></span>
        </span>
        <span class="introduction">
          <span><%= member.introduction %></span>
        </span>
      </div>
    <% end %>
  </div>

</div>